@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
